.idea
.project
.settings
.classpath
.eclipse
.diff
**/target
bzrdiff.sh
build.sh
.build
.wiki/data
atlassian-ide-plugin*.xml
.wiki/data*.tgz
doc/wiki/underlay*
doc/wiki/data_*
doc/wiki/data/**/cache
doc/wiki/data/event-log
doc/wiki/data/event-log
test/data
*.jar
